%ul#flits_list
  - unless params[:action] == "show"
    %h3.title= t(:sample)
  - flits.each do |flit|
    :erb
      <li<% if flits.first == flit %> class="first"<% end %>>
    - unless params[:action] == "show"
      = link_to image_tag(flit.user.avatar.url(:medium)), user_flits_path(flit.user.username), :title => flit.user.username
    .flit_message_container
      .message
        = link_to flit.user.username, user_flits_path(flit.user.username)
        %br
        = flit.message
      .clear

      .tag_list
        - tag_cloud flit.tag_counts, %w(css1 css2 css3 css4) do |tag, css_class|
          = link_to tag.name, { :action => :tag, :id => tag.name }

      .action
        - if flit.created_at >= Time.now.yesterday
          = link_to "#{distance_of_time_in_words_to_now(flit.created_at)} #{t(:ago)}", :action => "page",:id => flit.id
        - else
          = link_to "#{show_date(flit.created_at)} ", :action => "page",:id => flit.id
        - if current_user
          - if flit.user.username == current_user.username
            |
            = link_to "#{ image_icon_tag "delete"} #{t(:delete)}", flit, :confirm => t(:sure?), :method => :delete
          - else
            |
            = link_to "#{ image_icon_tag "reply" } #{t(:reply)}", :action => "reply",  :id => flit.user.username
        |
        = link_to "#{ image_icon_tag "star_white"} #{t(:bookmark)}"
    .clear
