.left
  %ul
    %li= link_to t(:menu1)
    %li= link_to t(:menu2)
    %li= link_to t(:menu3)
    %li= link_to t(:menu4)
.right
  %ul
    %li= link_to t(:signup), signup_path
    %li= link_to t(:login), login_path


